nav {
     font-size: 2rem;
     display: flex;
     justify-content: space-between;
     height: 6rem;
     align-items: center;
     padding: 0 12rem;
     text-transform: uppercase;
     background-color: var(--white);

     .logo {
          font-size: 4rem;
          font-weight: bold;
          color: var(--black);
     }

     .links {
          display: flex;
          z-index: 1000;

          a {
               color: var(--black);
               padding: 0 1rem;
               font-size: 1.8rem;

               &:hover {
                    color: var(--blue);
               }
          }
     }

     // Menu Button Styles
     @import 'menuBtnStyle';
}